In [1]:
import math
import sys
import pandas as pd#표
from future.utils import iteritems
from collections import Counter#갯수
import os
import csv#csv
from konlpy.tag import Okt#konlpy 라이브러리
twitter = Okt()

#csv파일위치
os.chdir("C:\\Users\\BOMI\\dsquadcore\\")
#기사 csv 오픈
file = open('tfidf_Test.csv', 'r', encoding='UTF-8')#euc-kr
line = csv.reader(file)

#tf,tf-idf 기록 비교를 위한 명사 갯수 상위 6개 추출 함수
def get_tf(csv, lank=6):
    spliter = Okt()
    nouns = spliter.nouns(csv)
    count = Counter(nouns)
    
    return_dict = {}  
    for n, c in count.most_common(lank):#most_common(n):n개의 가장 많이 나오는 요소와 카운트의 리스트를 반환
        return_dict[n]=c
        #temp = {'tag': n, 'count': c}
        #return_tf.append(temp)    
    return return_dict


##idf구하는 함수
def get_idf(data1,data2,len):
    return_dict = {}
    
    score=get_score(data1,data2)#score dict 형태
    
    #idf=1
    for n in data1:
        #idf=math.log10((len-score.get(n))/score.get(n)) 
        idf=math.log10(len/score.get(n)) 
        return_dict[n]=idf
 
    return return_dict


#단어가 포함된 문서의수
def get_score(data1,data2):
    score_list={}
   
    for i in data1: 
        a=0    
        for n in range(len(data2)):
                    if i in data2[n]:
                       a+=1
        score_list[i]=a#자기 자신 제외하기
    return score_list


#명사 갯수 상위 6개 리스트 dict형태
tf=[]

#idf결과 값 dict형태로 저장
idf=[]

#tf-idf (단어(key): 값(value)) 리스트 dict형태
tf_idf_list=[]

#카운트제외 명사만 저장,단어 포함 유무 검색시 사용
nouns_data=[]

#카운트 저장
nouns_dict=[]

#오픈한 csv파일 한 라인씩 읽어 테스트(테스트 파일은 49개의 기사)
for i in line:   
    tag=get_tf(i[1])#line 테스트시
    tf.append(tag)
    
    #모든 기사의 명사
    spliter = Okt()
    nouns = spliter.nouns(i[1])#line 테스트시
    #nouns = spliter.nouns(i)
    
    count = Counter(nouns)
    nouns_data.append(list(count.keys()))
    nouns_dict.append(count)
   
     # if not tag:
    #          continue             
      #  except:
      #      pass
def main(argv):
    
    #print("IDF값:",get_idf(list(tf[0].keys()),nouns_data,len(tf)))
    for i in nouns_data:
        idf.append(get_idf(i,nouns_data,len(nouns_data)))
        
    #print("TF",nouns_dict[1])
    #print("IDF",idf)

    for data in nouns_data:
        #print(len(data))
        tf_idf={}
        for i in range(len(data)):
            #print(nouns_dict[nouns_data.index(data)])
            #print(data[i]) 
            tf_idf[data[i]]=idf[nouns_data.index(data)].get(data[i])*nouns_dict[nouns_data.index(data)].get(data[i])
        tf_idf_list.append(tf_idf)
    print("tf-idf완료")                
if __name__ == '__main__':
    main(sys.argv)

tf-idf완료

In [2]:
#기사마다 pd를 이용해 값 비교하기 원하는 기사의 리스트번호를 넣어서 테스트
#print(nouns_dict[0])
data = {'tf': nouns_dict[0], 
        'idf':idf[0], 
        'tf-idf':tf_idf_list[0],
        } 
df = pd.DataFrame(data)
df
df.sort_values(by=['tf-idf'], axis=0, ascending=False).head(6)#상위5개

Counter({'목포': 6, '일본': 6, '건물': 5, '일제': 4, '그대로': 4, '공장': 4, '역사': 3, '근대': 3, '강점': 3, '기': 3, '도심': 3, '모습': 3, '수탈': 2, '통로': 2, '이': 2, '과거': 2, '기자': 2, '흔적': 2, '변신': 2, '사용': 2, '곳도': 2, '공간': 2, '내화': 2, '벽돌': 2, '그': 2, '하나': 2, '화공': 2, '사업': 2, '앵커': 1, '쌀': 1, '소금': 1, '면화': 1, '간': 1, '당시': 1, '지금': 1, '건축물': 1, '이제': 1, '문화재': 1, '로서': 1, '역할': 1, '이지은': 1, '개항': 1, '항구': 1, '도시': 1, '호남': 1, '곡창': 1, '지대': 1, '아픔': 1, '제': 1, '거리': 1, '수': 1, '약': 1, '정도': 1, '구간': 1, '모두': 1, '채': 1, '규모': 1, '가장': 1, '영사관': 1, '동양척식주식회사': 1, '근대역사관': 1, '내부': 1, '단장': 1, '상업': 1, '예술가': 1, '연희': 1, '여수시': 1, '남산동': 1, '볼거리': 1, '우리나라': 1, '군데군데': 1, '일제시대': 1, '때': 1, '폐해': 1, '것': 1, '치부': 1, '그냥': 1, '두기': 1, '아이': 1, '위': 1, '학교': 1, '강당': 1, '정원': 1, '처음': 1, '지은': 1, '뒤': 1, '조선': 1, '주식회사': 1, '자리': 1, '남아': 1, '이야기': 1, '영자': 1, '목포시': 1, '화관': 1, '광해': 1, '설사': 1, '최초': 1, '번': 1, '사람': 1, '신도시': 1, '소외': 1, '개발': 1, '손길': 1, '유지': 1, '가치': 1, '지난': 1, '지역': 1, '전체': 1, '지정': 1, '기도': 1, '김종식': 1, '목포시장': 1, '도시재생': 1, '병행': 1, '지렛대': 1, '침체': 1, '한번': 1, '계획': 1, '진행': 1, '고스': 1, '란': 1, '지붕': 1, '유산': 1, '박물관': 1})

     tf       idf     tf-idf
일본    6  1.690196  10.141176
목포    6  1.690196  10.141176
건물    5  1.690196   8.450980
일제    4  1.690196   6.760784
공장    4  1.389166   5.556664
그대로   4  1.389166   5.556664